<mat-toolbar color="primary">
  <button mat-button-icon color="accent" [matMenuTriggerFor]="menu">
    <mat-icon color="accent">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
    </button>
    <button mat-menu-item [routerLink]="['register-user']">
       <mat-icon>how_to_reg</mat-icon>
       <span>Zarejestruj się</span>
    </button>

  </mat-menu>
  <span>StoreEverything</span>
  <button mat-button [routerLink]="['users']">
    Użytkownicy
  </button>
  <button mat-button [routerLink]="['categories']">
    Kategorie
  </button>
  <button mat-button [routerLink]="['informations']">
    Informacje
  </button>

</mat-toolbar>

<router-outlet />
