@if (data.action=="add") {
    <h2 mat-dialog-title>Dodaj kategorię</h2>
} @else {
    <h2 mat-dialog-title>Edytuj kategorię</h2>
}
<mat-dialog-content>
    <form [formGroup]="newCategoryForm">
        <input matInput formControlName="id" hidden>
        <p>
            <mat-form-field>
                <mat-label>Nazwa</mat-label>
                <input matInput placeholder="Nazwa" formControlName="name" required minlength="3" maxlength="20">
                @if (newCategoryForm.controls['name'].errors?.['required']) {
                    <mat-error>Nazwa jest <strong>wymagany</strong></mat-error>
                }
                @if (newCategoryForm.controls['name'].errors?.['minlength']) {
                    <mat-error>Nazwa jest <strong>za krótka</strong></mat-error>
                }
            </mat-form-field>          
        </p>
        @if(data.action=="add") {
            <button type="button" [disabled]="!newCategoryForm.valid" mat-button [mat-dialog-close]="newCategoryForm.value">Dodaj</button>
        } @else {
            <button type="button" [disabled]="!newCategoryForm.valid" mat-button [mat-dialog-close]="newCategoryForm.value">Zapisz</button>            
        }
    </form>

</mat-dialog-content>