<mat-card>
    <mat-card-header>Informacje</mat-card-header>
    <mat-card-content>
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="informations">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="title">Tytuł</th>
                <td mat-cell *matCellDef="let information">{{information.title}}</td>
            </ng-container>
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>Link</th>
                <td mat-cell *matCellDef="let information">{{information.link}}</td>
            </ng-container>
            <ng-container matColumnDef="addDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="addDate">Dodano</th>
                <td mat-cell *matCellDef="let information">{{information.addDate|date:"yyyy-MM-dd"}}</td>
            </ng-container>
            <ng-container matColumnDef="remind_date">
                <th mat-header-cell *matHeaderCellDef>Przypomnij</th>
                <td mat-cell *matCellDef="let information"></td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="categoryName">Kategoria</th>
                <td mat-cell *matCellDef="let information">{{information.categoryName}}</td>
            </ng-container>
            

            <ng-container matColumnDef="tools">
                <th mat-header-cell *matHeaderCellDef>Akcja <button mat-icon-button matTooltip="Dodaj" (click)="addInformation()"><mat-icon>add_notes</mat-icon></button></th>
                <td mat-cell *matCellDef="let information">
                    <button mat-icon-button matTooltip="Usuń" (click)="deleteInformation(information)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button matTooltip="Edytuj" (click)="editInformation(information)"><mat-icon>edit_note</mat-icon></button>
                    <button [routerLink]="['/informations', information.id]" mat-icon-button matTooltip="Szczegóły"><mat-icon>loupe</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>       
        </table>
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator>
    </mat-card-content>
</mat-card>