<mat-card>
    <mat-card-header>
        <mat-card-title>Podaj dane użytkownika</mat-card-title>
    </mat-card-header>
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">

    <mat-card-content>
        <p>
            <mat-form-field>
                <mat-label for>Imię</mat-label>
                <input matInput #input maxlength="20" minlength="3" formControlName="firstName">
                <mat-hint align="end">{{input.value.length}}/20</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Nazwisko</mat-label>
                <input matInput #input maxlength="20" minlength="3" formControlName="lastName">
                <mat-hint align="end">{{input.value.length}}/20</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Wiek</mat-label>
                <input matNativeControl type="number" formControlName="age">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput #input maxlength="20" minlength="3" formControlName="login">
                <mat-hint align="end">{{input.value.length}}/20</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Hasło</mat-label>
                <input type="password"  matInput #input minlength="5" formControlName="password">
            </mat-form-field>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="registerUser()">Zapisz</button>
    </mat-card-actions>
</form>
</mat-card>